/*--------------------------------------------*/
/* BASIC SETUP  */
/*--------------------------------------------*/

*{
    margin : 0;
    padding:0;
    box-sizing : border-box;
}

html,
body{
    background-color: whitesmoke;
    color: #606060;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility ;
    overflow-x: hidden;

}

.clearfix{
    zoom: 1;
}

.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*--------------------------------------------*/
/* REUSABLE COMPONENTS  */
/*--------------------------------------------*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    padding: 80px 0;
}
.box{
    padding: 1%;
}
/*----------PARAGRAPHS--------------------*/
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
.box p{
    font-size: 90%;
    line-height: 145%;
}
/*------------------ICONS---------------------*/
.index-icon{
    font-size: 300%;
    display: block;
    color: darkorange;
    margin-bottom: 10px;
}

.small-icons{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: darkorange;
    font-size: 120%;
    margin-right: 10px;

    /*to align text and icon*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
}

/*-----------------GENERIC LINKS--------*/
a:link,
a:visited{
    color: darkorange;
    text-decoration: none;
    border-bottom: 1px solid darkorange;
    padding-bottom: 1px;
}

a:hover,
a:active{
    color: #555;
    border-bottom: transparent;
    transition: border-bottom 0.2s, color 0.2s;

}
/*--------------------------------------------*/
/* HEADER  */
/*--------------------------------------------*/

header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("img/hero-min.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.logo
{
    height:100px;
    width:auto;
    float: left;
    margin-top: 5px;
}

.logo-black{
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/*Main nav */
.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 7px 0;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 1px solid darkorange;
}


/*----MOBILE NAVI--------*/

.mobile-nav-icon{
    float: right;
    margin-top: 25px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i{
    font-size: 200%;
    color: #fff;
}

/* Sticky navi */
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav{
    margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
        padding: 14px 0;
        color: #555;
}

.sticky .logo{
    display: none;
}

.sticky .logo-black{
    display: block;
}

/*--------FEATURES-----------------*/
.sections-meals .long-copy{
    margin-bottom: 30px;
}

/*-------------MEALS----------------*/

.sections-meals{
    padding: 0px;
}

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width:25%;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.7;
}

.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}

/*------------ HOW IT WORKS----------*/
.section-steps{
    background-color: ghostwhite;
}

.steps-box:first-child{
   text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child{
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen{
    width:40%;
}

.works-step{
    margin-bottom: 50px;
}

.works-step:last-of-type{
    margin-bottom: 80px;
}

.works-step div{
    color: darkorange;
    border: 2px solid darkorange;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.app-button:link,
.app-button:visited{
 border: 0;
}

.app-button img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}




/*-------------------CITIES-------------------------*/
.city-image{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-info{
    margin-bottom: 5px;
}



/*-------------TESTIMONIALS-----------------------*/
.section-testimonials{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(img/back-customers-min.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 140%;
}

cite{
    font-size: 80%;
    margin-top: 25px;
    display: block;
}

blockquote:before{
    content: "\201C";
    font-size:250% ;

}

cite img{
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/*-------------SIGN UP-------------*/
.section-plans{
    background-color: ghostwhite ;
}

.plan-box{
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px whitesmoke;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid whitesmoke;
}

.plan-box div:first-child{
    background-color: floralwhite;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px ;
}

.plan-box div:last-child{
    text-align: center;
    border: none;
}

.plan-price{
    font-size: 230%;
    margin-bottom: 10px;
    font-weight: 100;
    color: orange;
}

.plan-price span{
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal{
    font-size: 80%;
}

.plan-box ul{
    list-style: none;
}

.plan-box ul li{
    padding: 5px 0;

}


/*--------------------FORM------------------*/
.contact-form{
    width: 90%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

textarea{
    height: 100%;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{
    outline: none;
}

.map-box{
    width: 100%;
    height: 630px;
    position: relative;
}

.form-box{
    position: absolute;
    top:0;
    right: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 10;
    height: 630px;
    padding-top: 40px;
    width: 50%;
}

.map{
    width: 100%;
    height: 630px;
    z-index: 0;
    position: relative;
}

.form-messages{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    color: #333;
}

.success{
    background-color: rgba(38,191,68,0.8);
}

.error{
    background-color: rgba(209,46,46,0.8);
}


/*------------------FOOTER-----------------------*/
footer{
    background-color: #333;
    padding: 40px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;

}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a :active{
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 150%;
}

.ion-social-facebook,
.ion-social-instagram,
.ion-social-googleplus,
.ion-social-twitter{
    transition: color 0.2s;
}

.ion-social-facebook:hover{
        color:#3b5998;
}

.ion-social-twitter:hover{
    color:#00aced;
}

.ion-social-googleplus:hover{
    color:#dd4b39;
}

.ion-social-instagram:hover{
    color:#517fa4;
}

footer p{
    color: #888;
    text-align: center;
    margin-top: 20px;

}


/*---------Animation------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3
{
    opacity: 0;
    animation-duration: 1s;
}
.js--wp-4{
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated{
    opacity: 1;
}



/* HEADINGS  */

h1,h2,h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 200%;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: orange;
    content: "";
    width: 108px;
    margin: 0 auto;
    margin-top:20px;
}

/* BUTTONS  */

.button:link,
.button:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: orange;
    border : 1px solid orange;
    color: white;
    margin-right: 15px;
}

.btn-transparent:link,
.btn-transparent:visited{
    border : 1px solid orange;
    color: orange;
}

.button:hover,
.button:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: darkorange;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]{
    border : 1px solid darkorange;

}

.btn-transparent:hover,
.btn-transparent:active{
    border : 1px solid darkorange;
    color: white;
}



